<?xml version="1.0"?>
<config>
    <modules>
        <Publish_Articles>
            <version>0.2.0</version>
        </Publish_Articles>
    </modules>
    <global>
        <blocks>
            <publish_articles>
                <class>Publish_Articles_Block</class>
            </publish_articles>
        </blocks>
        <helpers>
            <publish_articles>
                <class>Publish_Articles_Helper</class>
            </publish_articles>
        </helpers>
        <models>
            <publish_articles>
                <class>Publish_Articles_Model</class>
                <resourceModel>articles_resource</resourceModel>
            </publish_articles>
            <articles_resource>
                <class>Publish_Articles_Model_Resource</class>
                <entities>
                    <article>
                        <table>publish_articles</table>
                    </article>
                </entities>
            </articles_resource>
        </models>
        <resources>
            <publish_articles_setup>
                <setup>
                    <module>Publish_Articles</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </publish_articles_setup>
            <publish_articles_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </publish_articles_write>
            <publish_articles_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </publish_articles_read>
        </resources>
    </global>
    <frontend>
        <routers>
            <publish_articles>
                <use>standard</use>
                <args>
                    <module>Publish_Articles</module>
                    <frontName>articles</frontName>
                </args>
            </publish_articles>
        </routers>
        <layout>
            <updates>
                <publish_articles>
                    <file>publish/articles.xml</file>
                </publish_articles>
            </updates>
        </layout>
    </frontend>
    <adminhtml>
        <layout>
            <updates>
                <publish_articles>
                    <file>publish/articles.xml</file>
                </publish_articles>
            </updates>
        </layout>
    </adminhtml>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <publish_articles before="Mage_Adminhtml">Publish_Articles_Adminhtml</publish_articles>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <default>
        <publish_articles>
            <basic_config>
                <quantity>10</quantity>
            </basic_config>
        </publish_articles>
    </default>
</config>